# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.mum-dad.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../:\program etc\projects\mum-dad\.idea\.idea.mum-dad\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
