# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.linq_pets.iml
# Datasource local storage ignored files
/../../../../../../../:\program etc\projects\linq_pets\.idea\.idea.linq_pets\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
